.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex-basis: 23%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    
}
.item_image{
    /* width: auto;
    height: 17rem;
    max-width: 100%;
    position: center; */

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}