.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-end: 4%;
    padding-inline-start: 4%;
}

.item {
    flex-basis: 23%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}
.item_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}